@import '../../styles/variables.scss';

.order {
    position: relative;
    margin-top: 10px;
    padding: 10px 50px 10px 10px;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    color: $white;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
        background: $bg_color;
    }

    &:hover .del {
        opacity: 1;
    }
}

.del {
    position: absolute;
    opacity: 0;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    border: none;
    outline: none;
    background: none;
    color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: 0.3s;

    &:hover {
        color: darken($color: $red, $amount: 20px);
        cursor: pointer;
    }

    &:active {
        font-size: 10px;
    }
}

.item {
    &:nth-child(1) {
        width: 14%;
    }

    &:nth-child(2),
    &:nth-child(3) {
        width: 18%;
    }

    &:nth-child(4) {
        width: 13%;
    }

    &:nth-child(5) {
        width: 8%;
    }

    &:nth-child(6) {
        width: 9%;
    }

    &:nth-child(7) {
        width: 12%;
    }

    &:nth-child(8) {
        width: 9%;
    }
}

.date {
    font-weight: 400;
    & span:first-child {
        color: $light_gray;
    }
}

.status {
    padding: 0px 8px;
    border-radius: 6px;
    display: inline-block;
}

.Active {
    color: #867436;
    background: #f5d76e;
}

.Filled {
    background: #4ed4ab;
    color: #157759;
}

.Rejected {
    color: #923636;
    background: #fe6667;
}

.Cancelled {
    color: #3f3f74;
    background: #9292c1;
}

.Buy {
    color: #00c287;
    font-weight: 400;
}

.Sell {
    color: #ff2d2e;
    font-weight: 400;
}

.price {
    color: $light_purple;
    font-weight: 400;
}

.instrument {
    display: flex;
    align-items: center;

    & img {
        margin: 0 5px;
        width: 15px;
    }
}
