$bg_color: #261e35;
$light_gray: #9a9a9a;
$light_purple: #9292c1;
$white: #ffffff;
$bg_elem: #3c354a;
$purple: #b783eb;
$green: #00c287;
$red: #ff2d2e;
$input_bg: #2f293e;
$input_color: #e2d8fd;
$bg_link: #372c44;
$color_link: #d8bcff;

$purple_gradient: linear-gradient(90deg, #ac6aec 0%, #bb7ff5 100%);
$purple_grad_hover: linear-gradient(90deg, #903de3 0%, #a761e9 100%);
