$bg_color: #261E35;
$light_gray: #9A9A9A;
$light_purple: #9292C1;
$white: #ffffff;
$bg_elem: #3C354A;
$purple: #B783EB;
$green: #00C287;
$red: #FF2D2E;
$input_bg: #2F293E;
$input_color: #E2D8FD;
$bg_link: #372C44;
$color_link: #D8BCFF;

$purple_gradient: linear-gradient(90deg, #AC6AEC 0%, #BB7FF5 100%);
$purple_grad_hover: linear-gradient(90deg, #903de3 0%, #a761e9 100%);