@import '../../styles/variables.scss';

.inner {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 0 20px;
}

.item {
    background: $bg_elem;
    padding: 30px 0;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.title {
    margin: 30px 0;
    color: $white;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.error {
    position: absolute;
    width: 100%;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: #923636;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}
