@import '../../styles/variables.scss';

.inner {
    background: $bg_elem;
    padding: 25px 25px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    & p {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #F5D76E;
    }

    & button {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $white;
        padding: 8px 15px;
        border-radius: 10px;
        border: none;
        outline: none;
        transition: .3s;
        cursor: pointer;
        background: $light_purple;

        &:hover {
            background: $purple;
        }

        &:active {
            transform: scale(.7);
        }
    }
}

.cap {
    color: $purple;
    padding: 30px 10px;
    text-align: center;
}


