@import '../../../styles/variables.scss';

.elem {
    display: flex;
    align-items: center;
    transition: 0.3s;
    & svg {
        font-size: 15px;
        margin-right: 5px;
    }

    &:hover {
        cursor: pointer;
        color: $white;
    }

    &:active {
        transform: scale(0.8);
    }
}
