@import '../../../styles/variables.scss';

.inner {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(127deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0.00) 100%);;
}

.img {
    width: 100px;
    height: 100px;
    animation: animloader 4s linear infinite;
}
  
@keyframes animloader {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.8) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}