@import '../../styles/variables.scss';

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 40px;
}

.title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
}

.user {
    display: flex;
    align-items: center;

    & h4 {
        color: $light_gray;
    }

    & img {
        width: 47px;
        height: 47px;
        background: $bg_link;
        border-radius: 50%;
        padding: 3px;
        margin-left: 10px;
    }
}
